/* BoxAnalise.css */

.box-analise {
    width: 1300px;
    max-width: 100%; /* Para garantir a responsividade */
    height: 700px;
    flex-shrink: 0;
    border-radius: var(--Border-Radius, 10px);
    background: var(--Azul-da-Prssia, #172A3A);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #E4F1F1;
  }
  
  .box-analise h1 {
    font-family: "JetBrains Mono";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
  
  .barra-background {
    width: 1093px;
    max-width: 100%; /* Para garantir a responsividade */
    height: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--azul-munsell, #508991);
    overflow: hidden; /* Para garantir que a barra de progresso não ultrapasse os cantos arredondados */
  }
  
  .barra-progresso {
    height: 30px;
    background: var(--Hortel, #09BC8A);
    transition: width 0.3s ease;
    border-radius: 20px; /* Mantém os cantos arredondados */
  }
  
  .percentual {
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .box-analise {
      width: 90%;
      height: auto;
      padding: 16px;
    }
  
    .box-analise h1 {
      font-size: 30px;
    }
  
    .barra-background {
      width: 100%;
    }
  
    .percentual {
      font-size: 16px;
    }
  }
  