.botao-verde-meia-noite {
    display: flex;
    min-width: 150px;
    max-width: 505px;
    min-height: 40px;
    max-height: 80px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    font-family: "JetBrains Mono";
    gap: 16px;
    flex-shrink: 0;
    border-radius: var(--Border-Radius, 10px);
    background: var(--Verde-meia-noite, #004346);
    color: var(--Azura-web, #E4F1F1); /* Cor do texto do botão */
    border: none; /* Remover borda padrão do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  }
  
  .botao-verde-meia-noite:hover {
    background: var(--Hortela, #09BC8A);
  }
  
  .botao-verde-meia-noite:active {
    background: darken(var(--Hortela, #09BC8A), 15%);
  }
  
  /* Media query para telas menores */
  @media (max-width: 600px) {
    .botao-verde-meia-noite {
      width: 100%;
      height: 60px; /* Ajuste a altura conforme necessário para dispositivos móveis */
    }
  }
  