.resultado-analise {
    width: 100%;
    max-width: 1300px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background: var(--Azul-da-Prssia, #172A3A);
    color: var(--azura-web, #E4F1F1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .analise-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; /* Espaço entre donuts e textos abaixo */
  }
  
  .similaridade {
    display: flex;
    width: 200px;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 20px; /* Espaço entre donut e texto abaixo */
  }
  
  .donut-container {
    text-align: center;
  }
  
  .donut-chart-background,
  .donut-chart-progress {
    fill: none;
  }
  
  .donut-chart-background {
    stroke: #09BC8A;
  }
  
  .donut-chart-progress {
    stroke-linecap: round;
  }
  
  .donut-chart-text {
    font-family: "JetBrains Mono";
    font-size: 24px;
    font-weight: 400;
    fill: var(--azura-web, #E4F1F1);
    text-anchor: middle; /* Centraliza o texto horizontalmente */
    dominant-baseline: middle; /* Centraliza o texto verticalmente */
  }
  
  .analise-texto {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
  
  .analise-texto-item {
    width: 45%;
  }
  
  .analise-texto h3 {
    font-family: "JetBrains Mono";
    font-size: 24px;
    font-weight: 400;
    color: var(--azura-web, #E4F1F1);
    margin-bottom: 12px;
  }
  
  .analise-texto p {
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-weight: 400;
    color: var(--azura-web, #E4F1F1);
    margin-bottom: 12px;
  }
  
  .analise-texto ul {
    list-style-type: none;
    padding: 0;
  }
  
  .analise-texto li {
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-weight: 400;
    color: var(--azura-web, #E4F1F1);
    margin-bottom: 8px;
  }
  
  @media (max-width: 768px) {
    .resultado-analise {
      height: auto;
      padding: 10px;
    }
  
    .analise-container {
      flex-direction: column;
      align-items: center;
    }
  
    .similaridade {
      margin-bottom: 20px;
    }
  
    .analise-texto {
      flex-direction: column;
      align-items: center;
    }
  
    .analise-texto-item {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .analise-texto h3 {
      font-size: 20px;
    }
  
    .analise-texto p {
      font-size: 16px;
      margin-bottom: 8px; /* Reduzi o espaçamento entre parágrafos */
    }
  
    .analise-texto li {
      font-size: 16px;
    }
  }
  