:root {
    --azura-web: #E4F1F1;
    --font-family: 'JetBrains Mono', monospace;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--azura-web);
  }
  
  /* Classes Tipográficas */
  .jet-40 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .jet-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .jet-30 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .jet-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .jet-14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant-numeric: oldstyle-nums proportional-nums;
  }
  