.box-login {
    width: 465px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Verde-meia-noite, #004346);
    color: var(--azura-web, #E4F1F1);
    padding: 20px;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; /* Container principal é flexível */
    flex-direction: column; /* Coluna para alinhar verticalmente */
    justify-content: center; /* Alinha os itens verticalmente no centro */
    margin: 0 auto; /* Centraliza horizontalmente na página */
  }
  
  .box-login form {
    display: flex; /* Mantém display flex para o formulário */
    flex-direction: column;
    width: 100%;
    gap: 6px;
    align-items: center; /* Alinha itens horizontalmente no centro */
  }
  
  .box-login label {
    margin-bottom: 8px;
    font-size: 20px;
    align-self: flex-start; /* Alinha as labels à esquerda */
  }
  
  @media (max-width: 768px) {
    .box-login {
      width: 100%; /* Ocupa toda a largura disponível */
      max-width: 90%; /* Define uma largura máxima menor para telas menores */
      height: auto; /* Ajusta a altura automaticamente conforme necessário */
      padding: 16px;
    }
  }
  