.box-upload {
    background-color: var(--collection-1-verde-meia-noite);
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.box-upload .texto {
    color: var(--collection-1-azura-web);
    font-family: var(--jet-16-font-family);
    font-size: var(--jet-16-font-size);
    font-style: var(--jet-16-font-style);
    font-weight: var(--jet-16-font-weight);
    letter-spacing: var(--jet-16-letter-spacing);
    line-height: var(--jet-16-line-height);
    margin-bottom: 10px;
    text-align: center;
    padding: 0 10px;
}

.box-upload .upload-input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.box-upload .upload-icon {
    height: 42px;
    width: 42px;
}

/* Media Queries */
@media (max-width: 768px) {
    .box-upload {
        width: 200px;
        height: 150px;
    }

    .box-upload .texto {
        font-size: 14px;
    }

    .box-upload .upload-icon {
        height: 36px;
        width: 36px;
    }
}

@media (max-width: 480px) {
    .box-upload {
        width: 150px;
        height: 120px;
    }

    .box-upload .texto {
        font-size: 12px;
    }

    .box-upload .upload-icon {
        height: 30px;
        width: 30px;
    }
}

:root {
    --collection-1-azul-da-pr-ssia: rgba(23, 42, 58, 1);
    --collection-1-azul-munsell: rgba(80, 137, 145, 1);
    --collection-1-azura-web: rgba(228, 241, 241, 1);
    --collection-1-hortel: rgba(9, 188, 138, 1);
    --collection-1-preto-rico: rgba(7, 30, 34, 1);
    --collection-1-tiffany-azul: rgba(117, 221, 221, 1);
    --collection-1-verde-meia-noite: rgba(0, 67, 70, 1);
    --collection-1-verde-selva: rgba(5, 128, 104, 1);
    --collection-1-viridiano: rgba(7, 158, 121, 1);
    --jet-16-font-family: "JetBrains Mono", Helvetica;
    --jet-16-font-size: 16px;
    --jet-16-font-style: normal;
    --jet-16-font-weight: 400;
    --jet-16-letter-spacing: 0px;
    --jet-16-line-height: normal;
    --jet-20-font-family: "JetBrains Mono", Helvetica;
    --jet-20-font-size: 20px;
    --jet-20-font-style: normal;
    --jet-20-font-weight: 400;
    --jet-20-letter-spacing: 0px;
    --jet-20-line-height: normal;
    --jet-30-font-family: "JetBrains Mono", Helvetica;
    --jet-30-font-size: 30px;
    --jet-30-font-style: normal;
    --jet-30-font-weight: 400;
    --jet-30-letter-spacing: 0px;
    --jet-30-line-height: normal;
    --jet-40-font-family: "JetBrains Mono", Helvetica;
    --jet-40-font-size: 40px;
    --jet-40-font-style: normal;
    --jet-40-font-weight: 400;
    --jet-40-letter-spacing: 0px;
    --jet-40-line-height: normal;
}
